.Auth {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  background-color: rgb(234, 234, 234);
  backdrop-filter: blur(45px);
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  color: black;
  padding: 20px;
}
.Auth .tab:hover {
  filter: invert(0.5);
}

.credential-container {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(219, 219, 219);
  padding: 10px 0;
  border-radius: 16px;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  background: white;
  padding: 20px;
}
.action {
  padding: 5px 10px;
  text-align: center;
  font-size: 24px;
}

.tabs {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  border-bottom: 1px solid rgb(199, 199, 199);
  padding: 10px;
}

.tabs button {
  cursor: pointer;
  padding: 10px;
  width: 50%;
}

.tab {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s;
  font-size: 20px;
}

.tab.active {
  border-bottom-color: #f5c518;
  color: #870000;
}

.form-container {
  padding: 10px;
}

form {
  display: grid;
  gap: 10px;
}

.form-child {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgb(199, 199, 199);
  outline-color: var(--bg1);
}

label {
  font-weight: 600;
}

.submit {
  padding: 15px 45px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
  display: block;
  width: 100%;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 2px solid #feac32;
  color: black;
  font-weight: 600;
}

.submit:hover {
  background-position: right center;
  text-decoration: none;
  cursor: pointer;
}
.S9gUrf-YoZ4jf {
  background: #363636;
  background-image: linear-gradient(#363636, #282828);
  border: 2px solid rgb(14, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px !important;
  border-radius: 8px;
}
.S9gUrf-YoZ4jf button {
  width: 100%;
}

.cancel-btn {
  margin: 10px 10px 0;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
  width: calc(100% - 20px);
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 2px solid #feac32;
  color: black;
  font-weight: 600;
}
