#course {
  display: grid;
  align-items: center;
  margin: auto;
  background: #f5f6f7;
}
.listing {
  width: 100%;
  max-width: 760px;
  border: 3px solid;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 18px 20px;
  background: #d0d0d5;
  font-size: 20px;
}
.listing:hover {
  background-color: #1b1b32;
  color: #f5f6f7;
}

.listing svg {
  font-size: 50px;
}
.description {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.heading {
  text-align: center;
  margin: 40px 0 50px;
  font-size: 28px;
  font-family: "Sometype Mono", monospace;
  font-family: "Poppins", sans-serif;
}


@media only screen and (max-width: 600px) {
  #course{
    padding: 14px;
}
  .heading{
    font-size: 14px;
}
.description{
    font-size: 14px;
}
}